<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSM"
        tools:targetApi="31">
        <activity
            android:name=".ui.immense.ImmenseResultCard"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBFxLphfqMSYvCzY4Q2WbgJZWwGvoLfSA" />

        <activity
            android:name=".ui.slighting.SlightingFragment"
            android:exported="false"
            android:label="SlightingFragment" />

        <activity
            android:name=".ImmenseResult"
            android:exported="false"
            android:label="@string/title_activity_immense_result" />
        <activity
            android:name=".ui.immense.ImmenseResult"
            android:exported="false"
            android:label="@string/title_activity_immense_result" />
        <activity
            android:name=".Immense_card"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".ui.immense.ImmenseFragment"
            android:exported="false"
            android:label="@string/title_activity_immense" />
        <activity
            android:name=".ui.immense.MapsActivityImmense"
            android:exported="false"
            android:label="@string/title_activity_maps_immense" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GSM.NoActionBar">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>